---
import "../styles/markdown.css";

const { pageTitle } = Astro.props;
const siteName = "girnghuber.dev";
const title = pageTitle ? `${siteName} - ${pageTitle}` : siteName;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <meta
            name="description"
            content="Personal homeserver and chat hub of girnghuber.dev."
        />
    </head>
    <body>
        <slot />
    </body>
</html>
